<h1>Showing user details</h1>

<% if @user %>
  <p> <%= gravatar_for @user %> </p>
  <p>ID: <%= @user.id %></p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
<% else %>
  <p>User not found</p>
<% end %>

<h1><%= @user.username %>'s Article </h1>

<%= render 'articles/article' %>

<%= link_to 'Back to Articles', articles_path %>