<div class="navbar">
  <h2 class="logo">Blog Diary</h2>
  <div class="menu">
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/users">Users</a>
    <a href="/about">About</a>
    <% if logged_in? %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= button_to "Delete me", user_path(current_user), method: :delete %>
      <%= button_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div>
</div>